*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html,body{
  height: 100%;
}

.faixa{
height: 45px;
background-color: rgba(99, 3, 3, 0.13);

}


body{
background-color: rgb(24, 23, 23);

}

div  p{
position: absolute;
top: 1%;  left: 2%;
text-align: center;
font-weight: bolder;
font-size: 182%;
     

}

header{
  background-color: aqua;
  height: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

}

div h1{
position: absolute;
top: 44px; left: 195px;
font-weight: bolder;
font-weight: 800;
color: aliceblue;

}

div h2{

    position: absolute;
    top:50px; left: 646px;
    font-weight: bolder;
    font-weight: 800;
    color: aliceblue;
}
div h3{

    position: absolute;
    top:50px; left: 1100px;
    font-weight: bolder;
    font-weight: 800;
    color: aliceblue;
}

div img{ 
    position: relative;
    top: 100px;  left: -30px;
    display: flex;
    width: 310px;
    height: 300px;
    float: left;
    margin-left: 120px;
    margin-bottom: 50px;

}

.button1{
position: relative;
top: 35px;   left: -680px;
display: flex;
}

.button2{
  position: relative;
  top: -6px;   left: -1129px;
  display: flex;
  }


  .button3{
position: relative;
top: -50px;  left: -251px;
display: flex;


  }
 